<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - TalentSyncAI</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

    @RenderSection("Styles", required: false)
</head>

<body>
    <partial name="_PublicNavbar" />
    @RenderBody()

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>