<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - TalentSyncAI Recruiter</title>

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

    @RenderSection("Styles", required: false)
</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <partial name="_Navbar" />

        <partial name="_RecruiterSidebar" />

        <div class="content-wrapper">

            @RenderBody()

        </div>

        <partial name="_Footer" />

    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>